Repository voxpupuli/modulesync, pull requests merged in 2020-07, with the labels that each got.

#177 release 1.2.0
  CHANGELOG.md
  modulesync.gemspec
Labels: skip-changelog

#179 Include the gitlab library, not github
  lib/modulesync.rb
Labels: bug

#178 Allow to override PR parameters per module
  lib/modulesync.rb
  spec/unit/modulesync_spec.rb
Labels: enhancement

#182 Add pr_target_branch option
  README.md
  lib/modulesync/cli.rb
  lib/modulesync/pr/github.rb
  lib/modulesync/pr/gitlab.rb
Labels: enhancement

#183 Allow absolute path for config files
  lib/modulesync.rb
Labels: enhancement

#180 release 1.3.0
  CHANGELOG.md
  modulesync.gemspec
Labels: skip-changelog

#185 Symbolize keys in managed_modules except for module names
  README.md
  lib/modulesync.rb
  lib/modulesync/util.rb
Labels: enhancement
