Repository voxpupuli/modulesync, pull requests merged in 2021-07, with the labels that each got.

#232 Fix condition for triggering the release workflow
  .github/workflows/release.yml
Labels: bug

#233 Checkout default_branch and not hardcoded `master`
  lib/modulesync/repository.rb
Labels: enhancement

#234 Implement codecov/update README.md
  .github/workflows/ci.yml
  Gemfile
  README.md
  spec/spec_helper.rb
Labels: enhancement

#235 release 2.2.0 + fix license
  CHANGELOG.md
  LICENSE
  modulesync.gemspec
Labels: skip-changelog
