Repository voxpupuli/modulesync, pull requests merged in 2023-04, with the labels that each got.

#260 Fix compatibility with latest `ruby-git`
  .rubocop.yml
  features/update/pull_request.feature
  lib/modulesync/git_service/github.rb
  lib/modulesync/git_service/gitlab.rb
  lib/modulesync/hook.rb
  lib/modulesync/repository.rb
  modulesync.gemspec
Labels: bug

#265 Update to latest RuboCop 1.28.2
  .rubocop.yml
  .rubocop_todo.yml
  modulesync.gemspec
Labels: enhancement

#267 Release 2.6.0
  CHANGELOG.md
  modulesync.gemspec
Labels: skip-changelog
